* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

ul {

list-style: none;
display: flex;
gap: 30px;


}
a{
text-decoration: none;
color: #E5E7EB;

}
.header-logo{
font-size: 24px;
color: #f9faf8;
font-weight: 800;


}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
}