* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;

}

ul {

    list-style: none;
    display: flex;
    gap: 30px;


}

a {
    text-decoration: none;
    color: #E5E7EB;

}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
}

main {
    background-color: #1f2937;
    padding: 80px 0px;
}

main>div {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 20px;
}

h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;

}

img {
    width: 450px;
    height: auto;
}

.main-text-style {
    font-size: 18px;
    color: #E5E7EB;


}

.first-button {
    background-color: #3882F6;
    padding: 8px 30px;
    color: #E5E7EB;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.first-button:hover {
    background-color: #1e4b97;

}

.title-and-para {
    max-width: 45%;



}

.first-section {
    width: 80%;
    margin: auto;



}

h2 {
    text-align: center;
    padding: 30px 0px;
    font-weight: 900;
    font-size: 36px;
}

.boxes {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10%;
    margin: auto;

}

.box-row {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 50px;


}

.p-center {
    width: 150px;
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 70px 0px;

}

.quote-author {
    text-align: right;
    display: block;
    font-weight: bold;



}

.quote-style {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;


}

.style-the-quote-and-author {
    max-width: 70%;



}
.call-to-action{
background-color: #3882f6;
max-width: 80%;
margin: 50px auto;
border-radius: 10px;
padding: 40px 60px ;
display: flex;
justify-content: space-between;
align-items: center;
}
.button-bottom-style{
    background-color: #3882F6;
    padding: 8px 30px;
    color: #E5E7EB;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid white;



}
.little-p-style{
font-size: 23px;
color: #E5E7EB;
font-weight: 600;

}
.large-p-style{
color: #E5E7EB;



}
footer{
background-color: #1f2937;
color: whitesmoke;
text-align: center;
padding: 40px 0px;
font-size: 18px;

}
